div,html {
    height: 100%;
    background-color:black;
}

body {
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.box {
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

#btn-group {
    position: fixed;
    top: 50%;
    right: -1px; 
}

.button-viva,
.button-github,
.button-twitter,
.button-version,
.button-reload {
    display: block;
    cursor: pointer;
    padding: 8px 20px;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    border: none;
    border-radius: 16px 0px 0px 16px;
    transition-duration: 0.2s;
}

.button-viva:hover {
    background-color: #eee126;
    color: black;
}
.button-github:hover {
    background-color: #3f3f3f;
    color: white;
}
.button-twitter:hover {
    background-color: #00b7fffa;
    color: white;
}
.button-version:hover {
    background-color: #32bd9f;
    color: white;
}
.button-reload {
    background-color: rgb(255, 112, 112);
    color: white;
}
.button-reload:hover {
    background-color: white;
    color: black;
}

@media screen and (max-width:600px) {
    body {
        height: 50%;
    }
    .box {
        width: 100%;  
        height: 100%;
    }
}